<div class="skills__container">
  <div class="base__title base__margin-bottom--20">
    {{'SKILLS.TITLE' | translate}}
  </div>


  <div class="skills__divider"> {{'SKILLS.LANGUAGES' | translate}}</div>

  <app-skill [value]="3" title="Java"></app-skill>
  <app-skill [value]="3" title="PHP"></app-skill>
  <app-skill [value]="3" title="Python"></app-skill>
  <app-skill [value]="4" title="C#"></app-skill>
  <app-skill [value]="4" title="SQL"></app-skill>
  <app-skill [value]="5" title="Javascript"></app-skill>
  <app-skill [value]="5" title="SCSS/CSS/SASS"></app-skill>
  <app-skill [value]="5" title="HTML"></app-skill>
  <app-skill [value]="5" title="Typescript"></app-skill>

  <div class="skills__divider"> {{'SKILLS.FRAMEWORKS' | translate}}</div>


  <app-skill [value]="2" title="React"></app-skill>
  <app-skill [value]="2" title="Vue"></app-skill>
  <app-skill [value]="4" title="Electron"></app-skill>
  <app-skill [value]="4" title="Ionic"></app-skill>
  <app-skill [value]="4" title="NodeJS"></app-skill>
  <app-skill [value]="5" title="Angular"></app-skill>

  <div class="skills__divider"> {{'SKILLS.MISC' | translate}}</div>

  <app-skill [value]="3" title="AWS"></app-skill>
  <app-skill [value]="3" title="Azure"></app-skill>
  <app-skill [value]="3" title="Docker"></app-skill>
  <app-skill [value]="4" title="NoSQL"></app-skill> 
  <app-skill [value]="3" title="CI/CD"></app-skill> 
  <app-skill [value]="3" title="Github Actions"></app-skill> 


</div>
