$purple: #6200EE;
$gray: #8a8a8a;
$black: #121212;
$darkGray: #242424;
$white: #ffffff;

$colors: ("purple": $purple,
  "gray": $gray,
  "black": $black,
  "darkGray": $darkGray,
  "white": $white,
);
