<div class="app__container">
  <!-- <app-top-navigation></app-top-navigation>
  <app-summary [attr.section-name]="'SUMMARY.TITLE'|translate"></app-summary>
  <app-about-me [attr.section-name]="'ABOUT-ME.TITLE'|translate"></app-about-me>
  <app-experiences [attr.section-name]="'EXPERIENCES.TITLE'|translate"></app-experiences>
  <app-skills [attr.section-name]="'SKIILS.TITLE'|translate"></app-skills>
  <app-links [attr.section-name]="'LINKS.TITLE'|translate"></app-links> -->
  [Re] Building
</div>
