@font-face {
  font-family: fira;
  src: url(./FiraCode-Regular.ttf);
}

@font-face {
  font-family: fira-light;
  src: url(./FiraCode-Light.ttf);
}

@font-face {
  font-family: fira-semibold;
  src: url(./FiraCode-SemiBold.ttf);
}

@font-face {
  font-family: fira-bold;
  src: url(./FiraCode-Bold.ttf);
}
