name: deploy my resume gh page

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node 14.x
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Building app
        run: |
          npm i
          npm run build:github    

      - name: List builded files
        run: ls -R

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: build
          if-no-files-found: error
          path: dist/my-resume/
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: build

      - name: Check downloaded files
        run: ls -R

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          BRANCH: gh-pages
          FOLDER: build